{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %} – ABCdb</title>
    <link rel="stylesheet" href="{% static "css/foundation.min.css" %}">
    <style>h1 { font-size: 1.75rem; }</style>
    {% block head %}{% endblock %}
</head>
<body>
    <section class="row">
        <header class="large-12 columns">
            <h1>ABCdb – {% block headline %}{% endblock %}</h1>
            <hr>
        </header>
    </section>

    <section class="row">

        <div class="small-4 medium-2 large-2 columns">
            <ul class="side-nav" role="navigation" title="Link List">
                <li role="menuitem"><a href="/search/">search</a></li>
                <li role="menuitem"><a href="/titles/">titles</a></li>
                <li role="menuitem"><a href="/collections/">collections</a></li>
                <li role="menuitem"><a href="/stats/">stats</a></li>
                {% if user.is_authenticated %}
                  {% if perms.main.can_upload %}
                    <li role="menuitem"><a href="/upload/">upload</a></li>
                  {% endif %}
                  <li role="menuitem"><a href="/logout/">log out</a></li>
                  <li class="divider" style="border-top-color:#ccc; margin: 0 2rem 0 0.875rem"></li>
                  <li role="menuitem"><a href="/temp_songs/">[songs]</a></li>
                  <li role="menuitem"><a href="/temp_instances/">[instances]</a></li>
                  <li role="menuitem"><a href="/admin/">[admin]</a></li>
                {% else %}
                  <li role="menuitem"><a href="/login/?next=/">log in</a></li>
                {% endif %}
            </ul>
        </div>

        <div class="small-8 medium-10 large-10 columns">
            {% block content %}{% endblock %}
        </div>

    </section>

</body>
</html>
