{% extends 'base.html' %}
{% load tz %}
{% block title %}Collection {{ collection.id }}{% endblock %}
{% block headline %}Collection {{ collection.id }}{% endblock %}

{% block content %}
<p>Collection source: {{ collection.source }}</p>
<p>Date added (localtime): {{ collection.date|localtime }}</p>
{% with instances=collection.instances %}
{% if instances.count <= 100 %}
<p>Instances found in this collection:
<ul>
{% for i in instances.all %}
  {# !FIX! it would be nice to associate a title with each of these (even if it's from another collection?) #}
  <li><a href="/instance/{{ i.pk }}/">{{ i }}</a></li>
{% endfor %}
</ul>
</p>
{% else %}
<p>Instances found in this collection: {{ instances.count }}</p>
{% endif %}
{% endwith %}
{% endblock %}
