{% extends 'base.html' %}
{% load humanize %}
{% block title %}Collections{% endblock %}
{% block headline %}Collections{% endblock %}

{% block content %}
{% if collection_list %}
    {% with count=page_obj.paginator.count %}
    <p>There {{ count|pluralize:"is,are"}} {{ count|apnumber }} collection{{ count|pluralize:"s" }}
        in the database.</p>
    {% endwith %}
    {% if is_paginated %}
    <p>Displaying page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</p>
    {% endif %}
    <ul style="list-style: none;">
    {% for collection in collection_list %}
        <li><a href="/collection/{{ collection.pk }}/">{{ collection.source|truncatechars:80 }}</a></li>
    {% endfor %}
    </ul>
    <p>{% include 'main/pagination_nav.html' %}</p>
{% else %}
    <p>No collections are available.</p>
{% endif %}
{% endblock %}
