{% extends 'base.html' %}
{% load humanize %}
{% load tz %}
{% block title %}Collection {{ collection.id }}{% endblock %}
{% block headline %}Collection {{ collection.id }}{% endblock %}

{% block content %}
<p>Collection source: {{ collection.source }}</p>
<p>Date added (localtime): {{ collection.date|localtime }}</p>
{% with instances=view.collectioninstances %}
{% with count=instances.paginator.count %}
<p>There {{ count|pluralize:"is,are"}} {{ count|apnumber }} song
    instance{{ count|pluralize:"s" }} in this collection.</p>
{% endwith %}
{% if instances.has_other_pages %}
    <p>Displaying page {{ instances.number }} of {{ instances.paginator.num_pages }}.</p>
{% endif %}
<table>
<tr><th>id</th><th>first title</th><th>ref</th><th>line</th></tr>
{% for i in instances %}
    <tr><td>{{ i.instance.pk }}</td>
    <td><a href="/instance/{{ i.instance.pk }}/">{{ i.instance.first_title }}</a></td>
    <td>X:{{ i.X }}</td><td>{{ i.line_number }}</td></tr>
{% endfor %}
</table>
{% with page_obj=instances %}
{% include 'main/pagination_nav.html' %}
{% endwith %}
{% endwith %}
{% endblock %}
