{% extends 'base.html' %}
{% block title %}Tune Graph Exploror{% endblock %}
{% block headline %}Tune Graph Explorer{% endblock %}
{% block head %}
<style>
  /* was: lightpink, lightblue, palegreen */
  .instance { fill: #7f7; stroke: none; }
  .instance.blur ellipse { fill: white; stroke: #7f7; stroke-width: 2px}
  .song { fill: #f88; stroke: none; }
  .song.blur ellipse { fill: white; stroke: #f88; stroke-width: 2px; }
  .title { fill: #9bf; stroke: none; }
  .title.blur ellipse { fill: white; stroke: #9bf; stroke-width: 2px; }
  .edgePath path { stroke: #222; stroke-width: 1.5px; }
  .edgePath.blur path { stroke-dasharray: 1.5, 6; }
  .label { text-anchor: middle; fill: black; font-size: 0.9em; font-family: Times, serif; }
</style>
{% if not error %}
<script src="https://d3js.org/d3.v4.min.js" defer></script>
<script src="/static/dagre-d3.min.js" defer></script>
<script src="/static/graph.js" defer></script>
{% endif %}
{% endblock %}
{% block content %}
{% if error %}
<p>The requested object was not found.</p>
<p>Try using the <a href="/search/">search page</a>.</p>
{% else %}
<p>Showing all items connected to {{ item }}. Click on an item for more
information.</p>
<div id="graph"></div>
{% endif %}
{% endblock %}
