{% extends 'base.html' %}
{% block title %}Tune Graph Exploror{% endblock %}
{% block headline %}Tune Graph Explorer{% endblock %}
{% block head %}
<style>
  .instance { fill: palegreen; stroke: none; }
  .song { fill: lightpink; stroke: none; }
  .song.blur ellipse { fill: none; stroke: black; stroke-width: 1.5px; }
  .title { fill: lightblue; stroke: none; }
  .edgePath path { stroke: #222; stroke-width: 1.5px; }
  .edgePath.blur path { stroke-dasharray: 1.5, 6; }
  .label { text-anchor: middle; fill: black; font-size: 0.9em; font-family: Times, serif; }
</style>
{% if not error %}
<script src="https://d3js.org/d3.v4.min.js" defer></script>
<script src="/static/dagre-d3.min.js" defer></script>
<script src="/static/graph.js" defer></script>
{% endif %}
{% endblock %}
{% block content %}
{% if error %}
<p>The requested object was not found.</p>
<p>Try using the <a href="/search/">search page</a>.</p>
{% else %}
<div id="graph"></div>
{% endif %}
{% endblock %}
