{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Song Instance {{ instance.id }}{% endblock %}
{% block head %}
<script src="{% static "abcjs_basic_3.0-min.js" %}" type="text/javascript"></script>
{% endblock %}
{% block headline %}Song Instance {{ instance.id }}{% endblock %}

{% block content %}
{# <p>This is an instance of {{ instance.song }}.</p> #}
<p>All titles used for this song:
<ul>
{% for t in view.titles %}<li><a href="/title/{{ t.pk }}/">{{ t.title }}</a></li>{% endfor %}
</ul>
</p>
{% with instances=view.other_instances %}
{% if instances %}
<p>Other instances of this song:
<ul>
{% for i in instances %}<li><a href="/instance/{{ i.pk }}/">{{ i.instance }}</a></li>{% endfor %}
</ul>
</p>
{% endif %}
{% endwith %}
<p><div id="notation"></div>
<script type="text/javascript">
var song = '{{ instance.text|escapejs }}'
ABCJS.renderAbc('notation', song);
</script>
</p>
<p>ABC text:
<blockquote>
{{ instance.text|linebreaks }}
</blockquote>
</p>
{% with collections=view.collections %}
{% if collections %}
<p>Collections in which this instance occurred:
<ul>
{% for c in collections %}<li><a href="/collection/{{ c.pk }}/">{{ c.URL }}</a></li>{% endfor %}
</ul>
</p>
{% endif %}
{% endwith %}
{% endblock %}
