{% extends 'base.html' %}
{% block title %}Song {{ song.id }}{% endblock %}
{% block headline %}Song {{ song.id }}{% endblock %}

{% block content %}
{% if error %}
<p>The requested song could not be found.</p>
{% else %}
{{ svg|safe }}
<p>Titles used for any instance of this song include:</p>
<ul style="list-style: none;">
{% for t in titles %}<li><a href="/graph/t{{ t.pk }}/">{{ t.title }}</a></li>{% endfor %}
</ul>
<p>Instances of this song:</p>
<ul style="list-style: none;">
{% for i in instances %}<li><a href="/instance/{{ i.pk }}/">{{ i.instance }}</a></li>{% endfor %}
</ul>
<p>Collections in which this song appeared:</p>
<ul style="list-style: none;">
{% for c in collections %}<li><a href="/collection/{{ c.pk }}/">{{ c.source }}</a></li>{% endfor %}
</ul>
<p>Song digest: {{ song.digest }}</p>
{% endif %}
{% endblock %}
