{% extends 'base.html' %}
{% block title %}Stats{% endblock %}
{% block headline %}Database Statistics{% endblock %}
{% block head %}
<style>
.chart rect {
  fill: steelblue;
}
.chart text {
  fill: white;
  font: 11px sans-serif;
  text-anchor: end;
}
.axis text {
  fill: black;
  font: 12px sans-serif;
  text-anchor: middle;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.axis.y path {
  stroke: none;
}
</style>
<script>
/* data for histograms */
var inst_per_song = [
{% for c, n in inst_per_song_histo %}{ count: {{ c }}, frequency: {{ n }}}{% if not forloop.last %},{% endif %}{% endfor %}
];
var coll_per_inst = [
{% for c, n in coll_per_inst_histo %}{ count: {{ c }}, frequency: {{ n }}}{% if not forloop.last %},{% endif %}{% endfor %}
];
</script>
<script src="https://d3js.org/d3.v4.min.js" defer></script>
<script src="/static/stats_bar_chart.js" defer></script>
{% endblock %}
{% block content %}
<p>The database currently contains:</p>
<ul style="list-style: none;">
<li>{{ songs }} songs</li>
<li>{{ instances }} song instances</li>
<li>{{ titles }} titles</li>
<li>{{ collections }} collections</li>
</ul>
<p>Instances vs. songs deduplication amount: {{ inst_to_song_dedup }}%</p>

<p>The total number of instances, in all collections which contributed at
least one new instance, is {{ collection_instances }}.</p>

<p>Collection instances vs. database instances deduplication amount: {{ coll_to_inst_dedup }}%</p>

<p>In the following chart, the instances of each song are counted, then those
counts are tabulated to show the frequency of occurrence of each count.
Counts greater than 1 reflect successful identification of "musically
identical" instances of the same song.</p>
<div id="inst_per_song"></div>
<p>Similarly, the following chart shows the frequency of occurrence of
collections per instance. Counts greater than 1 reflect instances which
were found in more than one collection, representing successful deduplication
at the instance level.</p>
<div id="coll_per_inst"></div>
{% endblock %}
