{% extends 'base.html' %}
{% block title %}Title Search{% endblock %}
{% block headline %}Title Search{% endblock %}

{% block content %}
{% if error %}
    {{ error|safe }}
    {{ form.title.errors }}
{% endif %}

{% if key %}
    {% if results %}
        {% with count=results.paginator.count %}
        <p>{{ count }} title{{ count|pluralize }} matching '{{ key }}'
           {{ count|pluralize:"was,were" }} found.
        {% endwith %}
        {% if results.has_other_pages %}
        Displaying matching titles {{ results.start_index }} through {{ results.end_index }}.
        {% endif %}</p>
        <ul>
        {% for title in results %}
            <li><a href="/title/{{ title.pk }}/">{{ title.title }}</a></li>
        {% endfor %}
        </ul>
        {% if results.has_other_pages %}
            {% if results.has_previous %}
                <a href="?title={{ key|urlencode }}&page={{ results.previous_page_number }}">&laquo; Previous</a> |
            {% endif %}
            Page {{ results.number }} of {{ results.paginator.num_pages }}
            {% if results.has_next %}
                | <a href="?title={{ key|urlencode }}&page={{ results.next_page_number }}">Next &raquo;</a>
            {% endif %}
        {% endif %}
    {% else %}
        <p>No titles matching '{{ key }}' were found.</p>
    {% endif %}
{% else %}
    <form role="form" action="" method="get">
        {{ form.as_p }}
        <button type="submit">Search</button>
    </form>
{% endif %}
{% endblock %}
