{% extends 'base.html' %}
{% load humanize %}
{% block title %}Titles{% endblock %}
{% block headline %}Titles{% endblock %}

{% block content %}
{% if title_list %}
    {% with count=page_obj.paginator.count %}
    <p>There {{ count|pluralize:"is,are"}} {{ count|apnumber }} title{{ count|pluralize:"s" }}
        in the database.</p>
    {% endwith %}
    {% if is_paginated %}
    <p>Displaying page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</p>
    {% endif %}
    <ul style="list-style: none;">
    {% for title in title_list %}
        <li><a href="/title/{{ title.pk }}/">{{ title.title }}</a></li>
    {% endfor %}
    </ul>
    {% include 'main/pagination_nav.html' %}
{% else %}
    <p>No titles are available.</p>
{% endif %}
{% endblock %}
