{% extends 'base.html' %}
{% block title %}Title '{{ title.title|truncatechars:20 }}'{% endblock %}
{% block headline %}Title '{{ title.title }}'{% endblock %}

{% block content %}
<p>Title: {{ title.title }}</p>
{% with songs=title.songs %}
  {% if title.songs %}
    <p>{{ title.songs.count }} {{ title.songs.count|pluralize:"song has,songs have" }} this title.
      {% comment -- list songs (not really useful) %}
      <ul>{% for s in title.songs.all %}<li>{{ s.pk }}&nbsp;-&nbsp;{{ s.digest }}</li>{% endfor %}</ul>
      {% endcomment %}
    </p>
    <p>Song instances having this title:
    <ul>
    {% for i in view.song_instances %}<li><a href="/instance/{{ i.pk }}/">{{ i.instance }}</a></li>{% endfor %}
    </ul>
    </p>
  {% else %}
    <p>No songs were found that match this title.</p>
  {% endif %}
{% endwith %}
{% endblock %}
