{% extends 'base.html' %}
{% block title %}Title Search{% endblock %}
{% block headline %}Title Search{% endblock %}

{% block content %}
{% if error %}
    {{ error|safe }}
    {{ form.title.errors }}
{% endif %}

{% if key %}
    {% if results %}
        {% with count=results.paginator.count %}
        <p>{{ count }} title{{ count|pluralize }} matching '{{ key }}'
           {{ count|pluralize:"was,were" }} found.</p>
        {% endwith %}
        {% if results.has_other_pages %}
        <p>Displaying page {{ results.number }} of {{ results.paginator.num_pages }}.</p>
        {% endif %}
        <ul style="list-style: none;">
        {% for title in results %}
            <li><a href="/title/{{ title.pk }}/">{{ title.title }}</a></li>
        {% endfor %}
        </ul>
        {% if results.has_other_pages %}
            <ul class="inline-list">
            {% if results.has_previous %}
                <li><a href="?title={{ key|urlencode }}&page={{ results.previous_page_number }}">&laquo; Previous</a></li>
            {% endif %}
            <li>Page {{ results.number }} of {{ results.paginator.num_pages }}</li>
            {% if results.has_next %}
                <li><a href="?title={{ key|urlencode }}&page={{ results.next_page_number }}">Next &raquo;</a></li>
            {% endif %}
            </ul>
        {% endif %}
    {% else %}
        <p>No titles matching '{{ key }}' were found.</p>
    {% endif %}
{% else %}
    <form role="form" action="" method="get">
        {{ form.as_p }}
        <button type="submit">Search</button>
    </form>
{% endif %}
{% endblock %}
