{% extends 'base.html' %}
{% block title %}ABC Title Search Results{% endblock %}

{% block content %}
<h3>ABC Title Search Results</h3>
{% if error %}
{{ error|safe }}
{{ form.title.errors }}
<form role="form" action="/search/" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Search</button>
</form>
{% else %}
    {% if results %}
        <p>{{ count }} title{{ count|pluralize }} matching '{{ key }}'
           {{ count|pluralize:"was,were" }} found:</p>
        <ul>
        {% for title in results %}
            <li><a href="/title/{{ title.pk }}/">{{ title.title }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No titles matching '{{ key }}' were found.</p>
    {% endif %}
{% endif %}
{% endblock %}
